*.o
*.ai
.DS_Store
testingData
*.pdf
bin/*
obj/*
docs/_build/
docs/content/images/
src/utils/version/version_git.h
.project
.cproject
nbproject
sandbox

# autoconf + automake
ar-lib
compile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.h.in
config.h.in~
config.sub
configure
depcomp
install-sh
missing
test-driver
/.version
