*.o
*.pico
*.obj
*.dSYM
*.exe
*.dll
*.pc.tmp
*-uninstalled.pc
/version.h

autom4te.cache
config.cache
config.h
config.h.in
config.log
config.mk
config.status
configure

hfile_*.bundle
hfile_*.cygdll
hfile_*.dll
hfile_*.so

htslib_static.mk

cyg*.dll
lib*.a
lib*.dll
lib*.dylib
lib*.so
lib*.so.*

/bgzip
/htsfile
/tabix
/test/fieldarith
/test/hfile
/test/hts_endian
/test/sam
/test/tabix/*.tmp.*
/test/tabix/FAIL*
/test/test-bcf-sr
/test/test-bcf-translate
/test/test_bgzf
/test/test_realn
/test/test-regidx
/test/test-vcf-api
/test/test-vcf-sweep
/test/test_view
/test/thrash_threads[1-6]
/test/*.tmp
/test/*.tmp.*

/TAGS
