name: CI

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Install samtools
      run: sudo apt-get install -y samtools 
    - name: Compile and test Bedtools
      run: make -j8 && make test
    - name: Compile static binary
      run:  make -j8 static
    - uses: actions/upload-artifact@v1
      with:
          name: bedtools.static
          path: bin/bedtools.static
